---
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:wght@100;300;400;500;700;900&display=swap');


$serif      : Libertinus, Georgia, Times, serif;
$sans-serif : "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Fira Mono, Julia Mono, Consolas, "Lucida Console", monospace;
$linkColor: #6F00FF;

$body-font: $sans-serif;
$mono-font: $monospace;

@import "{{ site.theme }}";

// A nicer colour for links

a {
    color: $linkColor;
}

// No bold headings

.markdown-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
}

.markdown-body {
    // Title (copied from h1 style in the style gem)
    header .title {
      margin-top: $spacer-4;
      margin-bottom: $spacer-3;
      line-height: $lh-condensed;
      padding-bottom: 0.3em;
      font-size: 2em;
    }
}
