La	DET:ART	le
dernière	ADJ	dernier
trouvaille	NOM	trouvaille
de	PRP	de
l’	ADJ	<unknown>
intelligence	NOM	intelligence
artificielle	ADJ	artificiel
sait	VER:pres	savoir
tout	ADV	tout
faire	VER:infi	faire
,	PUN	,
ou	KON	ou
presque	ADV	presque
.	SENT	.
Ce	PRO:DEM	ce
robot	NOM	robot
écrit	VER:pres	écrire
de	PRP	de
la	DET:ART	le
poésie	NOM	poésie
,	PUN	,
traduit	VER:pper	traduire
,	PUN	,
calcule	VER:pres	calculer
,	PUN	,
code	NOM	code
des	PRP:det	du
programmes	NOM	programme
informatiques	ADJ	informatique
,	PUN	,
entretient	VER:pres	entretenir
des	PRP:det	du
conversations	NOM	conversation
en	PRP	en
ligne	NOM	ligne
,	PUN	,
corrige	VER:pres	corriger
des	PRP:det	du
textes	NOM	texte
,	PUN	,
rédige	VER:pres	rédiger
des	PRP:det	du
tribunes	NOM	tribune
…	PUN	…
Son	DET:POS	son
nom	NOM	nom
?	SENT	?
GPT-3	ABR	<unknown>
,	PUN	,
pour	PRP	pour
Transformateur	ADJ	transformateur
génératif	ADJ	génératif
pré-entraîné	NOM	<unknown>
,	PUN	,
troisième	NUM	troisième
du	PRP:det	du
nom	NOM	nom
.	SENT	.
Il	PRO:PER	il
est	VER:pres	être
apparu	VER:pper	apparaître
en	PRP	en
mai	NOM	mai
dernier	ADJ	dernier
et	KON	et
est	VER:pres	être
l’	ADJ	<unknown>
œuvre	NOM	œuvre
de	PRP	de
l’	NOM	<unknown>
entreprise	VER:pper	entreprendre
américaine	ADJ	américain
OpenAI	NAM	<unknown>
,	PUN	,
née	VER:pper	naître
en	PRP	en
2015	NUM	@card@
,	PUN	,
cofondée	VER:pper	<unknown>
par	PRP	par
Elon	NAM	<unknown>
Musk	NAM	<unknown>
et	KON	et
cofinancée	NOM	<unknown>
par	PRP	par
Microsoft	NAM	<unknown>
.	SENT	.
Ce	PRO:DEM	ce
cerveau	NOM	cerveau
sachant	VER:ppre	savoir
parfaitement	ADV	parfaitement
écrire	VER:infi	écrire
est	VER:pres	être
surtout	ADV	surtout
le	DET:ART	le
plus	ADV	plus
gros	ADJ	gros
réseau	NOM	réseau
de	PRP	de
neurones	NOM	neurone
artificiels	ADJ	artificiel
jamais	ADV	jamais
construit	VER:pper	construire
.	SENT	.
Il	PRO:PER	il
possède	VER:pres	posséder
175	NUM	@card@
milliards	NOM	milliard
de	PRP	de
paramètres	NOM	paramètre
(	PUN	(
équivalents	ADJ	équivalent
au	PRP:det	au
nombre	NOM	nombre
de	PRP	de
ses	DET:POS	son
«	PUN:cit	«
neurones	NOM	neurone
»	PUN:cit	»
et	KON	et
de	PRP	de
la	DET:ART	le
force	NOM	force
de	PRP	de
leurs	DET:POS	leur
interconnections	VER:impf	interconnecter
)	PUN	)
,	PUN	,
soit	KON	soit
cent	NUM	cent
fois	NOM	foi|fois
plus	ADV	plus
que	KON	que
son	DET:POS	son
prédécesseur	NOM	prédécesseur
GPT-2	ADJ	<unknown>
sorti	VER:pper	sortir
en	PRP	en
février	NOM	février
2019	NUM	@card@
et	KON	et
dix	NUM	dix
fois	NOM	foi|fois
plus	ADV	plus
que	KON	que
les	DET:ART	le
plus	ADV	plus
gros	ADJ	gros
«	PUN:cit	«
concurrents	NOM	concurrent
»	PUN:cit	»
.	SENT	.
Pour	PRP	pour
apprendre	VER:infi	apprendre
à	PRP	à
écrire	VER:infi	écrire
,	PUN	,
GPT-3	NAM	<unknown>
a	VER:pres	avoir
lu	VER:pper	lire
près	ADV	près
de	PRP	de
500	NUM	@card@
milliards	NOM	milliard
de	PRP	de
mots	NOM	mot
,	PUN	,
l’	NOM	<unknown>
équivalent	ADJ	équivalent
de	PRP	de
plus	ADV	plus
de	PRP	de
150	NUM	@card@
fois	NOM	foi|fois
toute	PRO:IND	tout
l’	ADJ	<unknown>
encyclopédie	NOM	encyclopédie
Wikipedia	NAM	<unknown>
(	PUN	(
dans	PRP	dans
toutes	PRO:IND	tout
les	DET:ART	le
langues	NOM	langue
)	PUN	)
,	PUN	,
ou	KON	ou
de	PRP	de
plus	ADV	plus
de	PRP	de
2000	NUM	@card@
ans	NOM	an
de	PRP	de
lecture	NOM	lecture
du	PRP:det	du
quotidien	NOM	quotidien
Le	DET:ART	le
Monde	NAM	Monde
…	PUN	…
Il	PRO:PER	il
a	VER:pres	avoir
été	VER:pper	être
programmé	VER:pper	programmer
sur	PRP	sur
l’	ADJ	<unknown>
un	NOM	un
des	PRP:det	du
dix	NOM	dix
plus	ADV	plus
puissants	ADJ	puissant
ordinateurs	NOM	ordinateur
du	PRP:det	du
monde	NOM	monde
,	PUN	,
propriété	NOM	propriété
de	PRP	de
Microsoft	NAM	<unknown>
,	PUN	,
doté	VER:pper	doter
d’	NOM	<unknown>
environ	PRP	environ
10	NUM	@card@
000	NUM	@card@
cartes	NOM	carte
graphiques	ADJ	graphique
,	PUN	,
presque	ADV	presque
dix	NUM	dix
fois	NOM	foi|fois
plus	ADV	plus
que	KON	que
le	DET:ART	le
plus	ADV	plus
gros	ADJ	gros
ordinateur	NOM	ordinateur
de	PRP	de
la	DET:ART	le
recherche	NOM	recherche
publique	ADJ	publique
française	ADJ	français
,	PUN	,
le	DET:ART	le
supercalculateur	NOM	<unknown>
Jean-Zay	NAM	<unknown>
.	SENT	.
