on: [push, pull_request]

name: CI-CD

jobs:
  CI-CD:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} (${{ matrix.python-version }})

    strategy:
      matrix:
        python-version: [3.9]
        os: [ubuntu-20.04]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
            python-version: ${{ matrix.python-version }}

      - name: Get pip cache path
        id: pip-cache
        run: |
          from pip._internal.locations import USER_CACHE_DIR
          print(f"::set-output name=dir::{USER_CACHE_DIR}")
        shell: python

      - name: Restore pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('${{ github.workspace }}/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Get transformers and cache
          id: transfo-install
          run: |
            python -m pip install --upgrade transformers
            python -c "from transformers.file_utils import TRANSFORMERS_CACHE; print('::set-output name=dir::' + TRANSFORMERS_CACHE)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.transfo-install.outputs.dir }}
          key: ${{ runner.os }}-transformers-${{ hashFiles('**/setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-transformers-
      
      - name: Install dependencies
        run: |
          pip install -U -r "${{ github.workspace }}/requirements.txt"
      
      - name: Build slides
        run: |
          jupytext --to ipynb ${{ github.workspace }}/slides/lecture-*/*.md
          jupyter nbconvert --execute --allow-errors --to html ${{ github.workspace }}/slides/lecture-*/*.ipynb
          jupyter nbconvert --to slides ${{ github.workspace }}/slides/lecture-*/lecture-*.ipynb

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: .

  prebuild-binder:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: update jupyter dependencies with repo2docker
      uses: jupyterhub/repo2docker-action@master
      with:
        NO_PUSH: true
        MYBINDERORG_TAG: ${{ github.event.ref }}

